.home {
    display: flex;
}

.homeNames {
    display: flex;
}

.homeName {
    display: flex;
    flex: 6;
    justify-content: center;
    font-family: "Lora", sans-serif;
    font-size: 50px;
    color: #444;
}

@media (max-width: 1350px) {

    .homeName {
        font-size: 25px;
    }
}